body {
    background-color: grey;
}
#buttons {
    z-index: 1;
    display: flex;
    justify-content: space-between;
}
#buttons > button {
    font-size: 1.5em;
    height: 3em;
    width: 5em;
    margin: 1em;
}
#map_container {
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 3em;
}
#map {
    background-color: white;
    height: 100%;
    width: 100%;
}
